body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

p {
  margin: 0 0 1em 0;
}

footer {
  text-align: center;
  font-style: italic;
  color: darkgrey;
}

#logo {
  float: left;
}
